html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en-GB')
  head
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/name.css')
    script(src='/javascripts/jquery.min.js')
    title Inicio
    script(src='/bootstrap/js/bootstrap.min.js')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes')
  body
    .container-fluid.fondo
      .col1.col-xs-3.col-md-3.col-lg-3
          
      .col2.col-xs-6.col-md-6.col-lg-6
        .botones
          a#btn.button.glossy(href='/a') Forma A
        .botones
          a#btn.button.glossy(href='/b') Forma B
        .botones
          a#btn.button.glossy(href='/c') Forma C
      .col3.col-xs-3.col-md-3.col-lg-3
      

    script(type='text/javascript', src='/javascripts/index.js')
