
.chat1 {
  width: 650px;
  display: inline-block;
  vertical-align: top;
  max-width: 800px;
  height: 500px;
  border: 1px solid #ddd;
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #0602729e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.chat-history1{
  height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
  background-color: #2411a151;
}

.chat-message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-message input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.chat-message button {
  height: 3.5rem;
  width: 6rem;
  font-size: 11px;
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0;
}

#SendStarsButton1 {
  height: 5.5rem;
  width: 6rem;
  font-size: 11px;
  color: #ffffff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0;
}

.chat ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

.chat ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  list-style-type: none;
  text-align: left;
}

.chat ul li:last-child {
  border: none;
  text-align: left;
  list-style-type: none;
}

.message {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  list-style-type: none;
  
}

.my-message {
  background-color: #7ae0ff;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
  align-self: flex-end;
}


.other-message {
  background-color: #c9e6ff;
  color: black;
  text-align: left;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  font-size: 14px;
}
/* Estilos para mensajes del agente Peta */
.other-message.peta {
  background-color: rgba(213, 241, 233, 0.702);
  margin-right: 30px;
}

/* Estilos para mensajes del agente Zeta */
.other-message.zeta {
  background-color: #c2dca7b7;
  margin-right: 30px;
}

.other-message.instruccion {
  align-self: center;
}

.caja-chat {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding-left: 0px;
}

.distribution-input-btn {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #ddd;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.loading-spinner {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
