.chat {
  width: 100%;
  max-width: 600px;
  height: 500px;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-history {
  height: 400px;
  overflow-y: scroll;
  border-bottom: 1px solid #ddd;
}

.chat-message {
  display: flex;
  align-items: center;
  gap: 10px;
}

.chat-message input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
}

.chat-message button {
  height: 3.5rem;
  width: 6rem;
  font-size: 11px;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 0;
}

.chat ul {
  list-style-type: none;
  padding: 0;
}

.chat ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat ul li:last-child {
  border: none;
}

.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 14px;
  overflow-wrap: break-word;
}

.my-message {
  background-color: #007bff;
  color: white;
  text-align: right;
}

.other-message {
  background-color: #ddd;
  color: black;
}

.distribution-input-btn {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.message.loading-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: #ddd;
  padding: 8px 12px;
  border-radius: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.loading-spinner {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-top-color: #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
