html, body{
    height:100%;
    background-color:white;
    overflow: hidden;
}

.fondo{
  display: flex;
    /*justify-content: center;*/
  width: 1280px;
    height: 800px;
    background-image: url('../images/estrellas/piezas/fondo-atomos-2.png');
}
#soflow{
  height: 40px;
  width: 500px;
}

.btn-danger{
  width: 500px;

}
.instruction{
  margin-top: 200px;
}


